

h1 {
    font-family: 'Caveat', cursive;
    font-size: 4.5em;
    color: rgb(236, 46, 8);
    margin: 20px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin: 20px 50px 0px 50px;
}

navigation {
    display: grid;
    grid-template-columns: 6em 7em 6em 6em 6em;
    grid-template-rows: 12px 12px 12px;
    justify-content: end;
    justify-items: center;
    align-items: center;
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
    margin: 0px 0px 10px 0px;
}

.slogan {
    height: 750px;
    background-image: url("./images/temple.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 6em;
    margin: 0px;
    margin-top: 20px;
}

h2 {
    font-family: 'Playfair Display', serif;
}

.offers {
    display: flex;
    justify-content: space-around;
    color: rgb(236, 46, 8);
    font-family: 'Playfair Display', serif;
    margin-bottom: 2em;
}


.offers p {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    font-size: 1.3em;
}


.offers img {
    height: 10em;
    display: flex;
}

footer {
    font-family: 'Playfair Display', serif;
    background-color: rgba(184, 35, 5, 0.89);
    color: white;
    font-size: 1.2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

h3 {
   display: flex;
   justify-content: center;
}

footer p {
    display: flex;
    justify-content: center;
}

address {
    display: flex;
    justify-content: center;
    margin-top: 19.2px;
    margin-bottom: 19.2px;
}