h1 {
    font-family: 'Caveat', cursive;
    font-size: 4.5em;
    color: rgb(236, 46, 8);
    margin: 20px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin: 20px 50px 0px 50px;
}

navigation {
    display: grid;
    grid-template-columns: 6em 7em 6em 6em 6em;
    grid-template-rows: 12px 12px 12px;
    justify-content: end;
    justify-items: center;
    align-items: center;
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
    margin: 0px 0px 10px 0px;
}

.slogan {
    height: 550px;
    background-image: url("./images/temple.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 6em;
    text-shadow: 0.6px 0.6px #5e5a5ac2;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    text-justify: center;
}

.slogan p {
    margin-top: 10px;
}

.button {
    color: rgb(236, 46, 8);
    font-size: 0.4em;
    background-color: white;
    font-family: 'Playfair Display', serif;
    height: 60px;
    margin-left: 30%;
    margin-right: 30%;
    text-shadow: none;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.button:hover {
    margin-left: 25%;
    margin-right: 25%;
    color: white;
    background-color: rgb(236, 46, 8);
}

h2 {

    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    font-size: 1.7em;
}

.offers {
    display: flex;
    justify-content: space-around;
    color: rgb(236, 46, 8);
    font-family: 'Playfair Display', serif;
    margin-bottom: 2.2em;
}


.offers p {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    font-size: 1.3em;
}


.offers img {
    height: 10em;
    display: flex;
}

footer {
    font-family: 'Playfair Display', serif;
    background-color: rgba(184, 35, 5, 0.89);
    color: white;
    font-size: 1.2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    line-height: 20px;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: 'Caveat', cursive;
    font-size: 1.7em;
}

footer p {
    display: flex;
    justify-content: center;
}

address {
    display: flex;
    justify-content: center;
    margin-top: 19.2px;
    margin-bottom: 19.2px;
}